@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Sidebar Icon */
  .sidebar-icon {
    @apply relative flex items-center 
    justify-center h-12 w-12 mt-2 
    mb-2 mx-auto shadow-lg 
    bg-primary-bg text-accent-text
    hover:bg-tertiary-bg hover:text-primary-text 
    rounded-3xl hover:rounded-xl transition-all 
    duration-300 ease-linear cursor-pointer;
  }

  /* Sidebar Tooltip */
  .sidebar-tooltip {
    @apply absolute w-auto
    p-2 min-w-max left-14
    rounded-md shadow-md
    text-white bg-gray-900
    text-xs font-bold 
    transition-all duration-100 
    scale-0 origin-left group-hover:scale-100;
  }

  /* Note Button */
  .note-button {
    @apply relative flex items-center 
    justify-center h-12 w-32 shadow-lg
    bg-secondary-bg text-primary-text
     hover:bg-accent-text hover:text-primary-bg
      rounded-3xl hover:rounded-xl transition-all
       duration-300 ease-linear cursor-pointer;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-bg dark:bg-accent-text;
}
